*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 25px;

}

img{
    height: 80vh;
    border-radius: 5px;
}

.cover-photo{
    animation: slideIn 3s alternate forwards;
}


@keyframes slideIn {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}



.txt{
    animation: slideInRight 3s alternate forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100px)
    }
    to {
        transform: translateX(-0)
    }
}

.txt form h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}

.txt form h1 a{
    text-decoration: none;
    color: dodgerblue;
}

.txt form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.txt form p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6e6b6b;
    font-size: 12px;
}

.txt form button{
    background-color: dodgerblue;
    padding: 10px;
    width: 15vw;
    margin-top: 10px;
    border: 1px ;
    border-radius: 15px;
    color: white;
    
}

.txt form button a {
    text-decoration: none;
    color: white;
}

.txt form button:hover{
    background-color: rgb(123, 182, 241);
    font-weight: bold;
}


